* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    display: grid;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-board {
    color: black;
    background-color: antiquewhite;
    display: grid;
    width: 15rem;
    height: 15rem;
    margin: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}
.game-board .spot {
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-board .spot p {
}

.sign, .winner {
    color: black;
    text-align: center;
    background-color: white;
    padding: 1em;
    position: absolute;
    justify-self: center;
    display: none;
}

button {
    width: 100px;
    margin: 0.5rem;
}
