* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    grid-template-columns: 1.5fr 1fr;
}

header {
    grid-column: 1 / 3;

    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-board {
    color: black;
    background-color: antiquewhite;
    display: grid;
    width: 15rem;
    height: 15rem;
    margin: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.game-board .spot {
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign {
    color: black;
    text-align: center;
    background-color: white;
    padding: 1em;
    position: absolute;
    display: none;
}

button {
    width: 100px;
    margin: 0.5rem;
}

.sidebar {
    text-align: center;
}

.sidebar .scores {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}